html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body, html {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  background-color: #ececec;
}

@media (max-width: 900px) {
  .mod {
    width: 100%;
    display: block;
  }
}
#page-hd {
  font-size: 40px;
  font-family: "Open Sans Condensed", sans-serif;
  color: #FFF;
  margin-bottom: 40px;
  background-color: #578DEF;
}
#page-hd span {
  display: inline-block;
  text-align: center;
  padding: 20px;
}

#page-bd {
  padding: 10px;
}

.mod {
  display: inline-block;
  width: 48%;
  vertical-align: top;
  white-space: nowrap;
}

.weather-mod-info {
  background-color: #DBE7FD;
  white-space: normal;
  width: 400px;
  padding: 20px;
  position: relative;
  margin: 0 auto;
}
.weather-mod-info span {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  background: #FFD700;
  left: 0;
  padding: 30px 10px;
  text-align: center;
}
.weather-mod-info p {
  margin-left: 60px;
  font-size: 12px;
  line-height: 15px;
}

.weather-mod {
  margin: 0 auto;
  white-space: normal;
  position: relative;
  width: 400px;
  min-height: 200px;
  padding: 20px;
  background-color: #E1E1E2;
  color: #0d0d0d;
  font-size: 14px;
  line-height: 17px;
}
.weather-mod a {
  color: #0d0d0d;
}

.dropdown-cont {
  cursor: pointer;
  position: relative;
}
.dropdown-cont .cur-location {
  height: 30px;
  line-height: 30px;
  padding: 10px;
  background-color: white;
  border-radius: 3px 3px 0 0;
  position: relative;
  font-size: 15px;
}
.dropdown-cont .cur-location::after {
  content: '';
  width: 50px;
  height: 100%;
  background-image: url("./images/down-arrow.svg");
  display: block;
  background-color: #578DEF;
  position: absolute;
  right: 0;
  top: 0;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 50%;
}
.dropdown-cont .loc-list {
  background-color: #FFF;
  position: absolute;
  top: 100%;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0 0 2px 2px;
  max-height: 0;
  -moz-transition: max-height 0.32s;
  -o-transition: max-height 0.32s;
  -webkit-transition: max-height 0.32s;
  transition: max-height 0.32s;
  overflow: hidden;
}
.dropdown-cont .loc-list li {
  padding: 5px 10px;
}
.dropdown-cont .loc-list li.selected {
  background-color: #9dbcf6;
}
.dropdown-cont .loc-list li:hover {
  background-color: #b4ccf8;
}
.dropdown-cont.open .loc-list {
  max-height: 150px;
}

.loading-ov {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  -moz-transition: opacity 0.32s, visibility 0.32s;
  -o-transition: opacity 0.32s, visibility 0.32s;
  -webkit-transition: opacity 0.32s, visibility 0.32s;
  transition: opacity 0.32s, visibility 0.32s;
  color: white;
  font-size: 20px;
  padding: 20px;
}
.loading-ov p {
  font-weight: lighter;
  position: absolute;
  top: 50%;
  margin-top: -10px;
  margin-left: 50px;
}
.loading-ov.show {
  visibility: visible;
  opacity: 1;
}

.pre-desc {
  padding-top: 15px;
}

.weather-mod .bd {
  padding-top: 20px;
  font-weight: 100;
}
.weather-mod .bd .loc {
  font-size: 40px;
  letter-spacing: -2.0px;
  line-height: 50px;
}
.weather-mod .bd .date {
  font-size: 17px;
  color: #777;
  padding-bottom: 5px;
}
.weather-mod .bd .conditions {
  font-size: 40px;
  padding-top: 30px;
  color: #4A4949;
}

#weather-from-dd-custom .bgimg {
  background-image: url("./images/sun.svg");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 100% 150%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.1;
}
